@model int
@{
    ViewBag.Title = "Min titel";
}


<h2>Index</h2> <!--det här är en vy, den visar allting som händer under ytan-->

hej här är text

<div>text i en div</div>
<div>vårt heltal är : @Model</div> <!--  är en variabel där vad som helst kan visas -->
<div>vårt heltal är fortfarande: @Model</div> 